{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit Portfolio Entry{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="ticker">Ticker</label>
    <input type="text" name="ticker" id="ticker" value="{{ post['ticker'] }}" required>

    <label for="quantity">Quantity</label>
    <input type="number" name="quantity" id="quantity" step="any" min="0.0000001" value="{{ post['quantity'] }}" required>

    <label for="is_crypto">Is Crypto?</label>
    <input type="checkbox" name="is_crypto" id="is_crypto" {{ 'checked' if post['is_crypto'] else '' }} />

    <button type="submit">Update</button>
    <a href="{{ url_for('portfolio.index') }}">Cancel</a>
  </form>

  <hr>


{% endblock %}