{% extends 'base.html' %}

{% block header %}
  <h1>{% block ticker %}Edit "{{ post['ticker'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="ticker">Title</label>
    <input name="ticker" id="ticker"
      value="{{ request.form['ticker'] or post['ticker'] }}" required>
    <label for="body">Body</label>
    <textarea name="quantity" id="quantity">{{ request.form['body'] or post['body'] }}</textarea>
    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('portfolio.delete', ticker=post['ticker']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}